In [30]:
import numpy as np
import pandas as pd

results = pd.read_csv('data/radon-thoron.csv', encoding='latin-1')
results.head() # checking that rows can be printed

,resultNumber,censusMetropolitanArea,province,forwardSortationAreaCodes,testDurationInDays,averageRadonConcentrationInBqPerM3,averageThoronConcentrationInBqPerM3
0,1,Calgary CMA,AB,*,90,89,14.0
1,2,Calgary CMA,AB,*,92,18,14.0
2,3,Calgary CMA,AB,*,91,114,14.0
3,4,Calgary CMA,AB,*,91,185,14.0
4,5,Calgary CMA,AB,*,91,71,14.0

In [31]:
results.describe()

,resultNumber,testDurationInDays,averageRadonConcentrationInBqPerM3,averageThoronConcentrationInBqPerM3
count,3190.000000,3190.000000,3190.000000,3160.000000
mean,1595.500000,96.203762,117.290909,16.768987
std,921.018006,12.883509,144.367973,12.566019
min,1.000000,30.000000,14.000000,14.000000
25%,798.250000,91.000000,41.000000,14.000000
50%,1595.500000,92.000000,75.000000,14.000000
75%,2392.750000,97.000000,139.000000,14.000000
max,3190.000000,301.000000,2117.000000,232.000000

In [32]:
cols = ['censusMetropolitanArea','forwardSortationAreaCodes','averageRadonConcentrationInBqPerM3']
df = pd.read_csv('data/radon-thoron.csv', usecols=cols, encoding='latin-1')
df.head()

,censusMetropolitanArea,forwardSortationAreaCodes,averageRadonConcentrationInBqPerM3
0,Calgary CMA,*,89
1,Calgary CMA,*,18
2,Calgary CMA,*,114
3,Calgary CMA,*,185
4,Calgary CMA,*,71

In [33]:
df.describe()

       averageRadonConcentrationInBqPerM3
count                         3190.000000
mean                           117.290909
std                            144.367973
min                             14.000000
25%                             41.000000
50%                             75.000000
75%                            139.000000
max                           2117.000000

In [34]:
df.value_counts()

censusMetropolitanArea  forwardSortationAreaCodes  averageRadonConcentrationInBqPerM3
Vancouver CMA           *                          14                                    16
Toronto CMA             *                          14                                     5
Montreal CMA            *                          14                                     5
Toronto CMA             *                          23                                     4
Montreal CMA            *                          22                                     4
                                                                                         ..
Kitchener CMA           N2G                        21                                     1
                                                   29                                     1
                                                   30                                     1
                                                   38                                     1
Winnipeg CMA            R3Y                        195                                    1
Length: 2994, dtype: int64