In [82]:
import numpy as np
import pandas as pd

results = pd.read_csv('data/radon-thoron.csv', encoding='latin-1')

In [83]:
results.describe()

,resultNumber,testDurationInDays,averageRadonConcentrationInBqPerM3,averageThoronConcentrationInBqPerM3
count,3190.000000,3190.000000,3190.000000,3160.000000
mean,1595.500000,96.203762,117.290909,16.768987
std,921.018006,12.883509,144.367973,12.566019
min,1.000000,30.000000,14.000000,14.000000
25%,798.250000,91.000000,41.000000,14.000000
50%,1595.500000,92.000000,75.000000,14.000000
75%,2392.750000,97.000000,139.000000,14.000000
max,3190.000000,301.000000,2117.000000,232.000000

In [84]:
cols = ['censusMetropolitanArea','forwardSortationAreaCodes','averageRadonConcentrationInBqPerM3']
df = pd.read_csv('data/radon-thoron.csv', usecols=cols, encoding='latin-1')
df.head()

,censusMetropolitanArea,forwardSortationAreaCodes,averageRadonConcentrationInBqPerM3
0,Calgary CMA,*,89
1,Calgary CMA,*,18
2,Calgary CMA,*,114
3,Calgary CMA,*,185
4,Calgary CMA,*,71

In [85]:
df.describe()

       averageRadonConcentrationInBqPerM3
count                         3190.000000
mean                           117.290909
std                            144.367973
min                             14.000000
25%                             41.000000
50%                             75.000000
75%                            139.000000
max                           2117.000000

In [86]:
df.value_counts()

censusMetropolitanArea  forwardSortationAreaCodes  averageRadonConcentrationInBqPerM3
Vancouver CMA           *                          14                                    16
Toronto CMA             *                          14                                     5
Montreal CMA            *                          14                                     5
Toronto CMA             *                          23                                     4
Montreal CMA            *                          22                                     4
                                                                                         ..
Kitchener CMA           N2G                        21                                     1
                                                   29                                     1
                                                   30                                     1
                                                   38                                     1
Winnipeg CMA            R3Y                        195                                    1
Length: 2994, dtype: int64

In [87]:
print("Number of rows with radon concentration values above 300: ", len(df[df['averageRadonConcentrationInBqPerM3'] > 300])) # Output is number of radon concentration values that are above the 300 range
print("This is equivalent to: ", len(df[df['averageRadonConcentrationInBqPerM3'] > 300])/len(df.index) * 100, "percent of entries")

print()
print("Number of rows with radon concentration values below 100: ", len(df[df['averageRadonConcentrationInBqPerM3'] < 100])) # Output is number of radon concentration values that are below 100
print("This is equivalent to: ", len(df[df['averageRadonConcentrationInBqPerM3'] < 100])/len(df.index) * 100, "percent of entries")

Number of rows with radon concentration values above 300:  205
This is equivalent to:  6.426332288401254 percent of entries

Number of rows with radon concentration values below 100:  2014
This is equivalent to:  63.13479623824452 percent of entries